<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission
        android:name="com.javapapers.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.fyp.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.fyp.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fyp.Login"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.example.fyp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="com.example.fyp.MainActivity2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.fyp.MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fyp.LV"
            android:label="@string/action_settings"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.example.fyp.UserProfile"
            android:label="UserProfile"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.example.fyp.Account"
            android:label="Account"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.example.fyp.About"
            android:label="About"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.example.fyp.ForgotPassword"
            android:label="ForgotPassword"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.example.fyp.AddFriend"
            android:label="AddFriend"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.example.fyp.FriendRequest"
            android:label="FriendRequest"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.example.fyp.ChatBubbleActivity"
            android:label="ChatBubbleActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"></activity>
        <activity android:name=".TrackingDialog"
            android:label="@string/app_name" android:theme="@style/Theme.Transparent">
        </activity>

        <receiver android:enabled="true"
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.fyp" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMNotificationIntentService" />

        <!--  <service android:name="com.example.fyp.ShowNotification" />-->
    </application>

</manifest>
